@import url('https://fonts.googleapis.com/css?family=Montserrat');

@keyframes Swoosh{
    0%{left: 100px}
    100%{left: 0px}
  }

html, body {
    height: 100%;
}

header {
    margin: 0;
    overflow: auto;
}

.pulse {
    background: transparent;
    text-decoration: none;
    padding: 20px 50px;
    border: 3px solid rgb(4, 88, 4);
    border-radius: 10px;
    margin-left: 320px;
    color: rgb(4, 88, 4);
    font-family: 'Montserrat';
    font-weight: bolder;
    animation-name: Swoosh;
    transition: 0.5s ease;
}

.pulse:hover {
    /* animation: pulsate 2s ease-in-out; */
    box-shadow: inset 200px 0 0 0 rgb(193, 252, 193);
}

@keyframes pulsate {
    0% {
        box-shadow:
        0 0 25px #5ddcff,
        0 0 50px rgb(9, 122, 9);
    }
}

.name {
    /* font-family: 'Inter Extrabold', sans-serif; */
    font-family: 'Brush Script MT';
    color: #FFF;
    filter: drop-shadow(0px 9px 2px #143130);
    padding-left: 10px;
}

.home_button {
    text-decoration: none;
    position: absolute;
	display: inline-block;
	font-size: 16px;
	padding: 18px 40px;
	color: white;
	margin: 20px 10px 10px;
	border-radius: 6px;
	text-align: center;
	transition: top .01s linear;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    background-color: #82c8a0;
	box-shadow: 0 0 0 1px #82c8a0 
    inset,
		0 0 0 2px 
    rgba(255,255,255,0.15) inset,
			0 8px 0 0 rgba(126, 194, 155, .7),
				0 8px 0 1px rgba(0,0,0,.4),
				0 8px 8px 1px 
        rgba(0,0,0,0.5);
	}

.home_button:active {
    position: relative;
    top: 9px;
    box-shadow: 0 0 0 1px #82c8a0 
    inset,
			0 0 0 2px
    rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
	}

.home_button:hover  {
    background-color: #80C49D;
}


.container {
    padding-top: 50px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#page_title {
    padding-top: 50px;
    font-size: 40px;
    font-family: 'Montserrat';
    filter: drop-shadow(0px 2px 1px #143130);
}

#project_name {
    font-size: 24px;
    margin: 20px;
}

.project_desc {
    font-size: 19px;
    margin: 10px;
    text-align: left;
}

.project_link {
    color: rgb(4, 88, 4);
}

.project_image {
    height: 300px;
    padding: 10px;
    border: #FFF;
    border-radius: 20px;
    position: relative;
}

.project {
}

div.content {
    width: 1000px;
    position: relative;
}


body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat';
    background-size: 1000% 1000%;
    background-color: #fff;
    color: rgb(4, 88, 4);
    margin-left: 100px;
    
  
  }

h1 {
    font-family: 'Brush Script MT';
    font-size: 4em;
    text-align: center;
    float: left;
}

h2 {
    font-family: 'Trebuchet MS';
    font-size: 25px;
    text-align: center;
}

p, ol, ul {
    margin-top: 0;
}

p {
    font-family: 'Montserrat';
    font-size: 17px;
    text-align: center;
    padding: 75px;
}

a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

ol, ul {
    padding: 0;
    font-family: 'Montserrat';
    display: table;
    margin: 0 auto;
    font-size: 16px;
    text-align: left;
}

#bio {
    float: left;
    padding-left: 30px;
    width: 60%;
}

#profile-pic {
    margin: 70px;
    width: 300px;
    border: solid;
    padding: 10px;

}

#courses {
    clear: both;
    padding-top: 50px;
}

#top-header {
    text-align: center;
    height: 60px;
}

#menu{
    float: right;
    width: 100%;
    height: 100%;
    margin: -16px;
}
#name {
    text-align: left;
    font-size: 30px;
    float: left;
    margin: 10px;
    margin-left: -16px;
    color: white
}

     
#menu ul{
    text-align: center;
    float: right;
    margin: none;
    background: rgb(4, 88, 4);
}
     
#menu li{
    display: inline-block;
    padding: 0px;
    margin: none;
}
     
#menu li a, #menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
}
     
#menu li a{      
    color: #FFF;
}
     
#menu li:hover a, #menu li span{
    background: #FFF;
    color: rgb(4, 88, 4);
    text-decoration: none;
}

.social-icon {
    padding-bottom: 15px;
    padding-right: 5px;
    height: 45px;
    color: #fcfafa;
}

.socials {
    text-align: center;
    color: #333333;
    padding: 30px;
}

.container {
    margin: 0px auto;
    width: 1200px;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 60px;
    background-color:rgb(4, 88, 4);

}


  * {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }
  #main {
    display: flex;
    flex: 1;
  }
  #main > article {
    flex: 1;
    order: 1;
    padding: 50px;
  }
  #main > nav, 
  #main > aside {
    flex: 0 0 30vw;
  }
  #main > nav {
    order: 3;
  }
  #main > aside {
    background: beige;
    padding: 50px;
    order: 2;
  }

  footer {
    background: rgb(4, 88, 4);
    height: 60px;
    color: white;
  }
  footer, article, nav, aside {
    padding: 1em;
  }
